.navbar {
  background: #1b1b1b !important;
  left: 0;
  padding: 50px 0;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  background-color: #343434 !important;
}

.nav-link {
  font-size: 20px;
}

.navbar-brand {
  font-weight: 900;
  letter-spacing: 2px;
}

.navbar-brand,
.nav-link {
  color: #fff;
}

.navbar-nav {
  justify-content: right;
}

.navbar-collapse {
  justify-content: end;
  flex-grow: none !important;
}

.icon-car {
  font-size: 60px;
}

.container-form {
  justify-content: left !important;
  align-content: left;
  padding-top: 10%;
  padding-left: 1%;
}

.container-index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.row {
  justify-content: left;
  font-family: "Montserrat", sans-serif;
  align-content: flex-start;
  gap: 40px;
}

.col-2 {
  margin-left: 5px;
  width: 100%;
  color: #fff;
  font-weight: bolder;
}

.mt-2 {
  padding: none !important;
  margin: none !important;
}

.btn-save {
  font-size: 50px;
}

.col-12 {
  color: #fff !important;
  font-family: "Montserrat", sans-serif;
}

.container-list {
  text-align: center;
  margin: 5% 10%;
  width: 50%;
}

.shopping-list {
  display: flex;
}

.icon-remove {
  font-size: 25px;
  display: none;
  visibility: hidden;
}

#item {
  color: #fff;
}

.add-item {
  justify-content: center;
  width: 80%;
}

h4 {
  letter-spacing: 5px;
}

td {
  margin: 0 !important;
  padding-bottom: 5px !important;
}

.total-text,
.total-price {
  text-align: end !important;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.total {
  display: flex;
  justify-content: end;
  gap: 5px;
}

img {
  height: 30px;
  justify-content: center;
  align-items: center;
}

td {
  gap: 50px !important;
}
